*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

k{
    font-size: 1rem;
    font-style: italic;
    margin-left: 2%;
    width: 150px;
}

.Skills > h1 {
    font-size: 3rem;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.skillscards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skillsicons{
    height: 8rem;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}